:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --black-color: #000000;
    --background-secondary-color: #F5F4FA;
    --background-accent-color: #2F303A;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-header {
    color: var(--black-color);
}

.list {
    list-style: none;
}

/* Site nav */
.site-nav .link,
.contacts-header {
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts-header:hover,
.contacts-header:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contacts-header {
    color: var(--primary-text-color);
}

/* Hero */

.hero {
    background-color: var(--background-accent-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-white-color);
}

.btn-main {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-width: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/* Section */
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Features */

.feature-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.feature-list .text {
    font-size: 14px;
    line-height: 1.71;
}

/* Team */

.team .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.team .text {
    font-size: 16px;
    line-height: 1.19;
}

/* Footer */

.bg-footer {
    background-color: var(--background-accent-color);
}

.logo-footer {
 color: var(--primary-white-color);
}

.adr-footer,
.contacts-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
    text-decoration: none;
}

.contacts-footer {
    color: var(--contacts-footer-color);
}

.contacts-footer:hover,
.contacts-footer:focus,
.adr-footer:hover,
.adr-footer:focus {
    color: var(--accent-color);
}

/* страница Портфоліо */

.btn-filter {
    color: var(--title-text-color);
    background-color: var(--background-secondary-color);
    border-width: 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.work-list .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.work-list .text {
font-size: 16px;
line-height: 1.88;
}

/* цвета на странице Студія

логотип в хедере #2196F3 #000000

ссілки в хедере #212121; при наведении #2196F3
почта в хедере color: #757575; при наведении #2196F3 
телефон в хедере color: #757575; при наведении #2196F3

заголовки color: #212121; 

основной текст color: #757575;

логотип в футере #2196F3 #FFFFFF
адрес в футере #FFFFFF
мейл и телефон в футере color: rgba(255, 255, 255, 0.6);

цвет фона background: #FFFFFF;
вторичный цвет фона background: #F5F4FA;
темный цвет фона background: #2F303A;

*/